.blogPage {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

.navStyle {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.blogsMainCont {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

.blogTitle {
  text-align: center;
}

.blogContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.commentHeading {
  text-align: center;
}

.blogLikeDislikeBtnCont {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  
}

.blogLikeDislikeBtnCont button {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.activeLike {
  background-color: green;
  color: white;

}

.activeDislike {
  background-color: red;
  color: white;
}

.activeSvg {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(24deg) brightness(104%) contrast(93%);

}

.notActive {

}

.blogLikeDislikeBtnCont button {
  font-size: 1.2rem;
  padding: .5rem 1rem;
}

.updateCountPara {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.cachedIcon {
  animation: 1s spin infinite;
}

.BlogUl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mustBeLoggedInMsg {
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

