.labelAndInputCont {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.3rem;
}

.commentFormFieldset {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;

}

.fieldsetLegend {
  font-size: 1.5rem;
}

.commentContentTextArea, .commentTitleInput {
  padding: 1rem;
  font-size: 1.5rem;
}

.commentContentTextArea {
  resize: vertical;
}

.sendCommentBtn {
  padding: .5rem 1.5rem;
  display: flex;
  gap: 1rem;
  align-self: flex-end;
  font-size: 1.5rem;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 800;
  border: none;
  transition: color .3s linear,   background-color .3s linear, filter .3s linear;
  
}

.commentFormBtnIcon {
}

.sendCommentBtn:hover {
  color: white;
  background-color: blue;

}

.sendCommentBtn:hover .commentFormBtnIcon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(24deg) brightness(104%) contrast(93%);

}